/* Sticky Header Base */
.site-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--black-color);
  transition: all 0.3s ease-in-out;
}

/* Sticky Active State (JS will toggle this class) */
.site-header.sticky-active {
  opacity: 0.95;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  background-color: #0a0a0a; /* slightly darker */
}

/* Navbar Links */
.navbar-nav .nav-link {
  color: var(--white-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--black-color);
  background-color: var(--white-color);
  font-weight: 400;
  font-size: 17px;
  border-radius: 20px;
}

/* Dropdown */
.dropdown {
  gap: 4px;
}

.dropdown-menu a:hover {
  background-color: #333;
}

/* Border Utility */
.custom-border-color {
  border-bottom: 1px var(--dark-color) solid;
}

/* Logo Alignment */
.logo-direction {
  align-self: flex-start;
  transform: translateY(30%);
}

/* Mobile Toggler Positioning */
.navbar-toggler-abs {
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(-150%);
  z-index: 10;
}

/* Mobile Nav Collapse */
.navbar-collapse-absolute {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  padding: 10px;
  z-index: 9;
  border-radius: 5px;
}
