.card-design .card {
  border-color: 1px solid #565656 !important;
  border-radius: 8px;
}
.card-body {
  background-color: #272727;
  border: 1px solid #565656;
  .card-title {
    color: var(--white-color);
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }
  .card-text {
    color: #d5d5d5;
    font-size: 17px;
    line-height: 24px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}

.case-study-title {
  font-size: 48px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 120%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.case-study-description {
  font-weight: 400;
  font-size: 17px;
  color: #d5d5d5;
  line-height: 24px;
}

.case-study-percentage {
  font-weight: 400;
  font-size: 44px;
  color: var(--white-color);
  line-height: 100%;
}
.case-study-caption {
  font-weight: 400;
  font-size: 17px;
  color: #d5d5d5;
  line-height: 24px;
}
