.careers-description {
  color: #d5d5d5;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.job-card {
  background-color: #262626;
  border-radius: 10px;
  border: 1px solid #565656;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 40px 32px;
  gap: 50px;
  margin-top: 40px;
  box-sizing: border-box; /* important for padding */
}

/* LEFT */
.job-start {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.job-location {
  font-weight: 400;
  font-size: 17px;
  color: #d5d5d5;
  line-height: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.job-title {
  font-size: 28px;
  font-weight: 400;
  color: var(--white-color);
  line-height: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* CENTER */
.job-description {
  font-size: 17px;
  color: #d5d5d5;
  line-height: 24px;
  text-align: start;
  flex: 1 1 auto;
  padding: 0 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  overflow-wrap: break-word;
}

/* RIGHT */
.job-end {
  display: flex;
  align-items: flex-start; /* Align button to the top */
  justify-content: flex-end;
}

/* Button styling */
.apply-button {
  background-color: var(--success-color);
  color: #000;
  font-weight: 700;
  font-size: 14px;
  border: none;
  border-radius: 999px;
  padding: 12px 24px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
}

.apply-button:hover {
  background-color: var(--success-color);
  box-shadow: 0 0 10px var(--success-color);
}

.apply-button:focus {
  border: 2px solid var(--white-color);
  box-shadow: inset 0 0 0 2px black;
  outline: none;
  background-color: #60d148;
}

.apply-button:active {
  border: 1px solid var(--black-color);
  transform: scale(1);
}

/* Responsive styles */
@media (max-width: 1024px) {
  .job-card {
    padding: 30px 20px;
    gap: 30px;
  }

  .job-title {
    font-size: 24px;
    white-space: normal; /* allow wrapping */
  }

  .job-description {
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .job-card {
    flex-direction: column;
    align-items: flex-start;

    padding: 24px 16px;
    gap: 20px;
  }

  .job-start {
  }

  .job-title {
    font-size: 22px;
    white-space: normal;
    margin-bottom: 4px;
  }

  .job-description {
    padding: 0;
    text-align: left;
  }

  .job-end {
    justify-content: flex-start;
    width:100%;
    display: inline-block !important;
  }

  .apply-button {
    text-align: center;
    margin-top: 12px;
    padding: 14px 0;
    font-size: 16px;
    display: inline-block;
    width:100%;
  }
}

@media (max-width: 480px) {
  .job-card {
    padding: 20px 12px;
    gap: 16px;
  }

  .job-title {
    font-size: 20px;
  }

  .careers-description {
    font-size: 15px;
  }
}
