::placeholder {
  color: #d8d8d8;
}
.form-input {
  width: 100%;
  max-width: 384px;
  height: 56px;
  border-radius: 48px;
  border: 1px solid #535353;
  background-color: #272727;
  padding: 16px;
}
.form-label {
  font-family: Tahoma;
  font-weight: 700;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: var(--white-color);
}
.radio {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  .form-check-label {
    font-family: Tahoma;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--white-color);
  }
}
.message {
  width: 1200px;
  height: 213px;
  border-radius: 8px;
  border: 1px solid #535353;
  background-color: #272727;
  padding: 16px;
  gap: 16px;
  width: 100%;
  margin-top: 10px;
}
.message::placeholder {
  text-align: left;
  vertical-align: top;
  line-height: 1.2;
  color: #d8d8d8;
}
.form-check-input {
  background-color: transparent;
  border: 1px solid var(--white-color);
}
.form-check-label {
  font-family: Tahoma;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0%;
  color: var(--white-color);
  span {
    text-decoration: underline;
  }
}
