.team-list {
  background-color: #272727;
  border: 1px solid #565656;
}
.team-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: var(--white-color);
  letter-spacing: -2%;
}

.team-description {
  font-weight: 400;
  font-size: 17px;
  line-height: 64px;
  color: #d5d5d5;
  letter-spacing: -2%;
}
.team-name {
  color: var(--white-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.team-position {
  color: var(--white-color);
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
.team-info {
  color: #d5d5d5;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}
//hiring hover
.team-wrapper {
  position: relative;
  height: 100%;
}

/* Make both cards stack and take same space */
.team-main,
.hiring-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  transition: opacity 0.3s ease;
}

/* Default state */
.team-main {
  z-index: 1;
  opacity: 1;
}
.hiring-hover {
  z-index: 0;
  opacity: 0;
  pointer-events: none;
  align-content: center;
}

/* Hover behavior */
.team-wrapper:hover .team-main {
  opacity: 0;
  pointer-events: none;
}

.team-wrapper:hover .hiring-hover {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
}
