.service-icon-46{
  position: absolute;
  top: 55%;
  left: 30%;          /* Shifted a little left from start (0) */
  z-index: 0;
  opacity: 80%;       /* same opacity */
}
.category-cards-ellipse{
      position: absolute;
        width: 76px;
        height: 70px;
        top: 109%;
        left: 38%;
        opacity: 75%;
}