.insight .insight-icon-1 {
  position: absolute;
  width: 76px;
  height: 70px;
  top: 102%;
  left: 41%;
  opacity: 75%;
}
.insight .insight-icon-2 {
  position: absolute;
  width: 76px;
  height: 70px;
  top: 243%;
  left: 43%;
  opacity: 75%;
}
.insight .insight-icon-3 {
  position: absolute;
  width: 76px;
  height: 70px;
  top: 385%;
  left: 42%;
  opacity: 75%;
}