.Target-market-frame-163{
      position: absolute;
  width: 76px;
  height: 70px;
  top: 90%;
  left: 41%;
  opacity: 75%;
}
.target-market-frame-167{
    position: absolute;
  width: 97px;
  height: 109px;
  transform: translateY(-65%);
  left: 85%;
  opacity: 75%;
}