.Frame-163-1{
    width: 76px;
    height: 70px;
transform: translate(590%,30%);
position: absolute;
}

.solutions-accent {
  position: absolute;
  top: 90px;
  left: 558px;
  width: 89px;
  height: 84px;
  pointer-events: none;
  z-index: 1;
}
.service-offerings-ellipse-25{
    position: absolute;
  width: 72px;
  height: 72px;
  top: 10%;
  left: 78%;
  opacity: 50%;
}
