/* ===========================
   Slick Carousel
=========================== */
.slick-carousel {
  z-index: 1;
}

.Not-your {
  font-size: 64px;
  font-weight: 400;
  line-height: 82px;
}

.lead {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
  color: var(--white-color);
}