.category-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  direction: ltr;
}

.category-box {
  width: 125px;
  height: 49px;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}
.slick-initialized {
  direction: ltr;
}
.category-box:hover {
  border-color: #bcffa5;
}
@media (max-width: 768px) {
  .slick-initialized {
    direction: ltr;
  }
  .category-box {
    margin-left: 15px;
  }
}
