//header of who we help bg//
.who-we-help-bg {
  position: relative;
  display: flex;

  align-items: center;
  background: linear-gradient(
      307deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    url(/images/banner-bg.png) no-repeat center center / cover;
}

/* === Base Styling === */
.service-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-top: 200px;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.service-content {
  display: flex;
  justify-content: space-between;
  gap: 40px; /* this is already good */
  padding-right: 40px; /* <-- add this */
  box-sizing: border-box;
}

.service-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tagline {
  font-family: "Tahoma", sans-serif;
  font-weight: 700;
  color: var(--white-color);
  font-size: 13px;
  letter-spacing: 0.65px;
  line-height: normal;
}

.title {
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 78px;
  color: var(--white-color);
  letter-spacing: -1.44px;
  margin: 0;
}

.service-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  padding-right: 40px;
  transform: translateX(10%);
}

.description-who-we-help {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: var(--white-color);
  font-weight: 400;
  margin: 0;
}

.action-buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}
