.font-xxs-100 {
  font-size: var(--font-size-xxs);
  font-weight: 100;
}

.font-xxs-200 {
  font-size: var(--font-size-xxs);
  font-weight: 211;
}

.font-xxs-300 {
  font-size: var(--font-size-xxs);
  font-weight: 313;
}

.font-xxs-400 {
  font-size: var(--font-size-xxs);
  font-weight: 400;
}

.font-xxs-500 {
  font-size: var(--font-size-xxs);
  font-weight: 500;
}

.font-xxs-600 {
  font-size: var(--font-size-xxs);
  font-weight: 600;
}

.font-xxs-700 {
  font-size: var(--font-size-xxs);
  font-weight: 700;
}

.font-xxs-800 {
  font-size: var(--font-size-xxs);
  font-weight: 800;
}

.font-xxs-900 {
  font-size: var(--font-size-xxs);
  font-weight: 900;
}

.font-xs-100 {
  font-size: var(--font-size-xs);
  font-weight: 100;
}

.font-xs-200 {
  font-size: var(--font-size-xs);
  font-weight: 211;
}

.font-xs-300 {
  font-size: var(--font-size-xs);
  font-weight: 313;
}

.font-xs-400 {
  font-size: var(--font-size-xs);
  font-weight: 400;
}

.font-xs-500 {
  font-size: var(--font-size-xs);
  font-weight: 500;
}

.font-xs-600 {
  font-size: var(--font-size-xs);
  font-weight: 600;
}

.font-xs-700 {
  font-size: var(--font-size-xs);
  font-weight: 700;
}

.font-xs-800 {
  font-size: var(--font-size-xs);
  font-weight: 800;
}

.font-xs-900 {
  font-size: var(--font-size-xs);
  font-weight: 900;
}

.font-sm-100 {
  font-size: var(--font-size-sm);
  font-weight: 100;
}

.font-sm-200 {
  font-size: var(--font-size-sm);
  font-weight: 211;
}

.font-sm-300 {
  font-size: var(--font-size-sm);
  font-weight: 313;
}

.font-sm-400 {
  font-size: var(--font-size-sm);
  font-weight: 400;
}

.font-sm-500 {
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.font-sm-600 {
  font-size: var(--font-size-sm);
  font-weight: 600;
}

.font-sm-700 {
  font-size: var(--font-size-sm);
  font-weight: 700;
}

.font-sm-800 {
  font-size: var(--font-size-sm);
  font-weight: 800;
}

.font-sm-900 {
  font-size: var(--font-size-sm);
  font-weight: 900;
}

.font-md-100 {
  font-size: var(--font-size-md);
  font-weight: 100;
}

.font-md-200 {
  font-size: var(--font-size-md);
  font-weight: 211;
}

.font-md-300 {
  font-size: var(--font-size-md);
  font-weight: 313;
}

.font-md-400 {
  font-size: var(--font-size-md);
  font-weight: 400;
}

.font-md-500 {
  font-size: var(--font-size-md);
  font-weight: 500;
}

.font-md-600 {
  font-size: var(--font-size-md);
  font-weight: 600;
}

.font-md-700 {
  font-size: var(--font-size-md);
  font-weight: 700;
}

.font-md-800 {
  font-size: var(--font-size-md);
  font-weight: 800;
}

.font-md-900 {
  font-size: var(--font-size-md);
  font-weight: 900;
}

.font-lg-100 {
  font-size: var(--font-size-lg);
  font-weight: 100;
}

.font-lg-200 {
  font-size: var(--font-size-lg);
  font-weight: 211;
}

.font-lg-300 {
  font-size: var(--font-size-lg);
  font-weight: 313;
}

.font-lg-400 {
  font-size: var(--font-size-lg);
  font-weight: 400;
}

.font-lg-500 {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

.font-lg-600 {
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.font-lg-700 {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.font-lg-800 {
  font-size: var(--font-size-lg);
  font-weight: 800;
}

.font-lg-900 {
  font-size: var(--font-size-lg);
  font-weight: 900;
}

.font-xl-100 {
  font-size: var(--font-size-xl);
  font-weight: 100;
}

.font-xl-200 {
  font-size: var(--font-size-xl);
  font-weight: 211;
}

.font-xl-300 {
  font-size: var(--font-size-xl);
  font-weight: 313;
}

.font-xl-400 {
  font-size: var(--font-size-xl);
  font-weight: 400;
}

.font-xl-500 {
  font-size: var(--font-size-xl);
  font-weight: 500;
}

.font-xl-600 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.font-xl-700 {
  font-size: var(--font-size-xl);
  font-weight: 700;
}

.font-xl-800 {
  font-size: var(--font-size-xl);
  font-weight: 800;
}

.font-xl-900 {
  font-size: var(--font-size-xl);
  font-weight: 900;
}

.font-xxl-100 {
  font-size: var(--font-size-xxl);
  font-weight: 100;
}

.font-xxl-200 {
  font-size: var(--font-size-xxl);
  font-weight: 211;
}

.font-xxl-300 {
  font-size: var(--font-size-xxl);
  font-weight: 313;
}

.font-xxl-400 {
  font-size: var(--font-size-xxl);
  font-weight: 400;
}

.font-xxl-500 {
  font-size: var(--font-size-xxl);
  font-weight: 500;
}

.font-xxl-600 {
  font-size: var(--font-size-xxl);
  font-weight: 600;
}

.font-xxl-700 {
  font-size: var(--font-size-xxl);
  font-weight: 700;
}

.font-xxl-800 {
  font-size: var(--font-size-xxl);
  font-weight: 800;
}

.font-xxl-900 {
  font-size: var(--font-size-xxl);
  font-weight: 900;
}/*# sourceMappingURL=fonts.css.map */